* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearer {
    clear: both;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}

header,
nav,
article,
aside,
section,
footer,
main,
figure,
figcaption {
    display: block;
}

.clearfix::before,
.clearfix::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix::after {
    clear: both;
}

.content {
    margin: 0 auto;
    width: 1160px;
}

.col-1 {
    float: left;
    width: 8.33333%;
}

.col-2 {
    float: left;
    width: 16.66666%;
}

.col-3 {
    float: left;
    width: 25%;
}

.col-4 {
    float: left;
    width: 33.33333%;
}

.col-6 {
    float: left;
    width: 50%;
}

.col-8 {
    float: left;
    width: 66.66666%;
}

.col-10 {
    float: left;
    width: 83.33333%;
}

.divider {
    padding: 20px 0;
}

.spacer {
    padding: 70px 0;
}

.responsive,
.responsive img {
    height: auto;
    width: 100%;
}

.center {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

/* Global style */

/* fix per smooth scroll con header position fixed */
#about-us::before,
#attivita::before,
#contatti::before {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 100px;
    margin-top: -100px;
}

html {
    scroll-behavior: smooth;
}

.img-spacer {
    margin: 50px auto;
    text-align: center;
}

.img-spacer img {
    width: 350px;
}

.hide {
    display: none!important;
}

/*header*/

.header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    z-index: 999;
}

.header .content {
    height: 100%;
}

.header-flex {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-left: 50px;
}

.burger-menu {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-10px, 5px);
    transform: rotate(-45deg) translate(-10px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -5px);
    transform: rotate(45deg) translate(-9px, -5px);
}

.menu{
    background-color: rgba(0, 0, 0, 0.5);
}
.menu ul li{
    list-style-type: none;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
}

.menu ul li:hover a{
    text-decoration: underline;
}

/*above the fold*/

.background-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.background {
    background-color: rgba(0, 0, 0, 0.75);
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    background-position: bottom;
}

.background h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    padding-top: 250px;
    padding-bottom: 75px;
}

.background .button {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    padding: 20px 100px;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto 350px auto;
}

/*about us, attività, contatti*/

.about-us {
    padding: 50px 0;
}

.about-us h2,
.attivita h2,
.contatti h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #222;
    margin-bottom: 50px;
}

.attivita h2 {
    margin-bottom: 80px;
}

.description {
    font-size: 16px;
    font-weight: 300;
    color: #222;
}

.attivita {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
    margin-top: -30px;
}

.card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 350px;
    background-color: #fff;
    padding: 60px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#card-1,
#card-2,
#card-6,
#card-7 {
    z-index: 2;
}

#card-3,
#card-5 {
    z-index: 1;
}

#card-4 {
    z-index: 3;
}

#card-1:hover,
#card-2:hover,
#card-3:hover,
#card-4:hover,
#card-5:hover,
#card-6:hover,
#card-7:hover {
    animation: z-index-animation 0.5s ease-out 10ms;
    animation-fill-mode: forwards;
}
@keyframes z-index-animation {
    0% {
        z-index: 4;
        background-color: #fff;
    }
    100% {
        z-index: 4;
        background-color: #fff8a9;
    }
}
.contatti {
    padding-top: 50px;
}

.headquarter {
    text-align: center;
    margin-bottom: 50px;
}

.headquarter h3 {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 500;
    color: #222;
}

.headquarter a {
    font-size: 32px;
    font-weight: 400;
    color: #3a33ff;
    text-decoration: none;
}

.headquarter a:hover {
    text-decoration: underline;
}

.contacts {
    text-align: center;
}

.contacts p {
    font-size: 32px;
    font-weight: 400;
    color: #222;
}

.contacts a {
    font-size: 32px;
    font-weight: 400;
    color: #3a33ff;
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

/*footer*/

.footer {
    background-color: #f8f8f8;
    height: 100px;
    margin-top: 50px;
}

.footer-flex {
    display: flex;
    align-items: center;
    height: 100%;
}

.privacy {
    margin: 0 auto;
}

.privacy h4 {
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.privacy a {
    font-size: 20px;
    font-weight: 400;
    color: #222;
    text-decoration: none;
}

.privacy a:hover {
    text-decoration: underline;
}

/** Desktop, iPad Pro **/

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .content {
        margin: 0 2%;
        width: 96%;
    }
}

/** Display 12", iPad Pro Portrait, iPad landscape **/

@media only screen and (max-width: 1024px) {
    .content {
        margin: 0 2%;
        width: 96%;
    }
}

/** iPad Portrait, smartphone **/

@media only screen and (max-width: 768px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-6,
    .col-8,
    .col-10 {
        float: none;
        width: 100%;
    }
}

/** piccoli smartphone **/

@media only screen and (max-width: 320px) {
}
